<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Counter</title>
</head>
<body>
    <div id="counter">{{ number }}</div>
    <button id="increment">Next</button>
    <button id="decrement">Back</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#increment').click(function() {
                $.get('/increment', function(data) {
                    $('#counter').text(data);
                });
            });

            $('#decrement').click(function() {
                $.get('/decrement', function(data) {
                    $('#counter').text(data);
                });
            });
        });
    </script>
</body>
</html>