<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Score</title>
<link rel="stylesheet" href="{{ url_for('static',filename='show_score_page.css') }}">
</head>
<body>
<div class="container">
    <h2 >Score</h2 >
    <p>1번 : {{score_list[0]}}</p>
    <p>2번 : {{score_list[1]}}</p>
    <p>3번 : {{score_list[2]}}</p>
    <p>4번 : {{score_list[3]}}</p>
    <p>5번 : {{score_list[4]}}</p>
    <p>6번 : {{score_list[5]}}</p>
    <p>7번 : {{score_list[6]}}</p>
    <p>8번 : {{score_list[7]}}</p>
    <p>9번 : {{score_list[8]}}</p>
    <p>10번 : {{score_list[9]}}</p>
    <p>11번 : {{score_list[10]}}</p>
    <p>12번 : {{score_list[11]}}</p>
    <p>13번 : {{score_list[12]}}</p>
    <p>14번 : {{score_list[13]}}</p>
    <p>15번 : {{score_list[14]}}</p>
</div>
<script src="{{ url_for('static',filename='show_score_page.js') }}"></script>
</body>
</html>